<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel=stylesheet href='__PUBLIC__/tools/jqueryMobile/jquery.mobile-1.4.5.css'>
    <script src='__PUBLIC__/tools/jquery/jquery-1.7.2.min.js'></script>
    <script src='__PUBLIC__/tools/jqueryMobile/jquery.mobile-1.4.5.js'></script>
    <script type="text/javascript" src="__PUBLIC__/js/admin/admin_global.js"></script>
    <title>基本的页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
        $(function(){
            $('#violation').focus(function () {
                $(this).val('');/*当光标定位到备注栏时，将栏中的数据清空*/
            });
        })
    </script>
</head>
<body>

<!-- 雇员考勤 -->
<div data-role="page" id="HumenManage">
    <!-- 头信息 -->
    <div data-role="header">
        <div data-role="navbar">
            <ul>
                <li>
                    <a href="javascript:window.history.back();"data-ajax="false" data-role="button" class="ui-btn-left ui-btn-corners">Back</a>
                    <!--<a href="./getViolationTOExcel"data-ajax="false" data-role="button" class="ui-btn-right ui-btn-corners">Export</a>-->
                </li>
            </ul>
        </div>
        <h1 style="font-style: italic;font-weight: bold;">雇&nbsp;员&nbsp;考&nbsp;勤</h1>
    </div>
    <!-- 内容部分 -->

    <div data-role="content">
        <div class="ui-field-contain" style="margin: auto;">
            <div align="center">考勤时间:{$time}</div>
            <fieldset data-role="controlgroup" data-type="vertical" data-fullscreen="true">
                <input type="radio" name="attendence" id="map1" value="1" checked="checked" />
                <label for="map1">到勤</label>

                <input type="radio" name="attendence" id="map2" value="2" />
                <label for="map2">病假</label>

                <input type="radio" name="attendence" id="map3" value="3" />
                <label for="map3">事假</label>

                <input type="radio" name="attendence" id="map4" value="4"  />
                <label for="map4">旷工</label>

                <input type="radio" name="attendence" id="map5" value="5"  />
                <label for="map5">迟到</label>

                <input type="radio" name="attendence" id="map6" value="6"  />
                <label for="map6">早退</label>

            </fieldset>
                <textarea name="violation" id="violation" ></textarea>
        </div>
    </div>
    <!--尾部、添加雇员-->
    <div data-role="footer" data-position="fixed" data-fullscreen="true">
        <div data-role="navbar">
            <ul>
                <li>
                    <a href="javascript:violation('{$eid}');" data-role="submit" data-ajax="false" style="font-size: 15px;">确&nbsp;&nbsp;定</a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>