<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel=stylesheet href='__PUBLIC__/tools/jqueryMobile/jquery.mobile-1.4.5.css'>
    <script src='__PUBLIC__/tools/jquery/jquery-1.7.2.min.js'></script>
    <script src='__PUBLIC__/tools/jqueryMobile/jquery.mobile-1.4.5.js'></script>
    <title>商家二维码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<!-- 第二个页面 当管理员点击我的信息的时候的第二个页面-->
<div data-role="page">
    <!-- 头信息 -->
    <div data-role="header">
        <div data-role="navbar">
            <ul>
                <li>
                    <a href="javascript:history.back();" data-ajax="false" data-role="button" class="ui-btn-left ui-btn-corners">Back</a>
                    <a href="./chpwd" data-ajax="false" data-role="button" class="ui-btn-right ui-btn-corners">CH_PWD</a>
                </li>
            </ul>
        </div>
        <h1 style="font-style: italic;font-weight: bold;">商&nbsp;家&nbsp;二&nbsp;维&nbsp;码</h1>
    </div>
    <!-- 内容部分 -->
    <div data-role="content">
        <div style="margin: auto">
            <img src="__ROOT__/{$tcode}" style="width: 80%;display: block;margin: auto">
        </div>
    </div>
</div>
</body>
</html>